<div class="d-flex justify-content-between">
  {% assign current_sorting = current_product_search_criteria.sort_by %}
  <label class="d-none d-sm-inline-block col-sm-auto align-self-center m-0 pl-0" for="sortBy">{{ 'collections.sorting.title' | t }}</label>
  <div class="dropdown" id="sortBy">
    <button aria-expanded="false" aria-haspopup="true" class="btn border dropdown-toggle" data-toggle="dropdown" id="sortDropdown" type="button">
      {% for option in settings.sorting_options %}
        {% if current_sorting == option.value %}
          {{ option.localization | t }}
        {% endif %}
      {% endfor %}
    </button>
    <div aria-labelledby="sortDropdown" class="dropdown-menu">
      {% for option in settings.sorting_options %}
        {% assign sorting_value = option.value %}
        {% assign sorting_localization = option.localization %}
        <a class="dropdown-item" href="{{ sorting_value | sort_by_url }}">{{ sorting_localization | t }}</a>
      {% endfor %}
    </div>
  </div>
</div>
