<div class="cp-footer">
  <div class="cp-footer__container desktop-only">

    <div class="cp-footer__row">
      <div class="cp-footer__column">
        <div class="cp-footer__promo-text">Need something custom or want todiscuss your options?</div>
        <button link="" class="sf-button cp-footer__button">
          Geta quote
        </button>
      </div>

      <div class="cp-footer__column">
        <div class="cp-footer__title">PRODUCTS</div>
        {% for link in linklists['footer'].links %}
          <a class="sf-link sf-link--reverse cp-footer__link" href="{{ link.url | absolute_url }}">{{ link.title }}</a>
        {% endfor %}
      </div>

      <div class="cp-footer__column">
        <div class="cp-footer__title">INDUSTRIES & APPLICATIONS</div>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Customer service</a>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Size guide</a>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Contact us</a>
      </div>

      <div class="cp-footer__column">
        <div class="cp-footer__title">SERVICES & SUPPORT</div>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Purchase terms</a>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Guarantee</a>
      </div>
    </div>

    <div class="cp-footer__row">
      <div class="cp-footer__column">
        <div class="cp-footer__contact-title">Contact Us</div>
        <div class="cp-footer__contact-text">
          1.888.CAPLUGS<br/>
          <a class="sf-link sf-link--reverse cp-footer__contact-link" href="mailto:sales@caplugs.com">
            sales@caplugs.com
          </a>
        </div>
        <div class="cp-footer__icons">
          <a class="sf-icon cp-footer__icon" href="#">
            <svg class="sf-icon-path" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36 18C36 8.05781 27.9422 0 18 0C8.05781 0 0 8.05781 0 18C0 27.9422 8.05781 36 18 36C18.1055 36 18.2109 36 18.3164 35.993V21.9867H14.4492V17.4797H18.3164V14.1609C18.3164 10.3148 20.6648 8.21953 24.0961 8.21953C25.7414 8.21953 27.1547 8.33906 27.5625 8.39531V12.4172H25.2C23.3367 12.4172 22.9711 13.3031 22.9711 14.6039V17.4727H27.4359L26.8523 21.9797H22.9711V35.3039C30.4945 33.1453 36 26.2195 36 18Z"
              />
            </svg>
          </a>

          <a class="sf-icon cp-footer__icon" href="#">
            <svg class="sf-icon-path" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M21.4453 18C21.4453 19.9028 19.9028 21.4453 18 21.4453C16.0972 21.4453 14.5547 19.9028 14.5547 18C14.5547 16.0972 16.0972 14.5547 18 14.5547C19.9028 14.5547 21.4453 16.0972 21.4453 18Z"
              />
              <path
                d="M26.0575 11.9041C25.8919 11.4553 25.6277 11.0491 25.2843 10.7156C24.9509 10.3723 24.545 10.1081 24.0959 9.94247C23.7317 9.80103 23.1846 9.63266 22.1768 9.58679C21.0867 9.53708 20.7599 9.52637 18.0001 9.52637C15.2401 9.52637 14.9132 9.5368 13.8234 9.58652C12.8157 9.63266 12.2683 9.80103 11.9044 9.94247C11.4553 10.1081 11.0491 10.3723 10.7159 10.7156C10.3726 11.0491 10.1084 11.455 9.94247 11.9041C9.80103 12.2683 9.63266 12.8157 9.58679 13.8234C9.53708 14.9132 9.52637 15.2401 9.52637 18.0001C9.52637 20.7599 9.53708 21.0867 9.58679 22.1768C9.63266 23.1846 9.80103 23.7317 9.94247 24.0959C10.1084 24.545 10.3723 24.9509 10.7156 25.2843C11.0491 25.6277 11.455 25.8919 11.9041 26.0575C12.2683 26.1992 12.8157 26.3676 13.8234 26.4135C14.9132 26.4632 15.2398 26.4736 17.9998 26.4736C20.7602 26.4736 21.087 26.4632 22.1766 26.4135C23.1843 26.3676 23.7317 26.1992 24.0959 26.0575C24.9973 25.7098 25.7098 24.9973 26.0575 24.0959C26.1989 23.7317 26.3673 23.1846 26.4135 22.1768C26.4632 21.0867 26.4736 20.7599 26.4736 18.0001C26.4736 15.2401 26.4632 14.9132 26.4135 13.8234C26.3676 12.8157 26.1992 12.2683 26.0575 11.9041ZM18.0001 23.3073C15.0687 23.3073 12.6924 20.9313 12.6924 17.9998C12.6924 15.0684 15.0687 12.6924 18.0001 12.6924C20.9313 12.6924 23.3076 15.0684 23.3076 17.9998C23.3076 20.9313 20.9313 23.3073 18.0001 23.3073ZM23.5175 13.7229C22.8325 13.7229 22.2771 13.1675 22.2771 12.4825C22.2771 11.7975 22.8325 11.2422 23.5175 11.2422C24.2025 11.2422 24.7578 11.7975 24.7578 12.4825C24.7575 13.1675 24.2025 13.7229 23.5175 13.7229Z"
              />
              <path
                d="M18 0C8.06039 0 0 8.06039 0 18C0 27.9396 8.06039 36 18 36C27.9396 36 36 27.9396 36 18C36 8.06039 27.9396 0 18 0ZM28.2736 22.2613C28.2236 23.3616 28.0486 24.1128 27.7932 24.7703C27.2563 26.1587 26.1587 27.2563 24.7703 27.7932C24.1131 28.0486 23.3616 28.2233 22.2616 28.2736C21.1594 28.3239 20.8073 28.3359 18.0003 28.3359C15.193 28.3359 14.8412 28.3239 13.7387 28.2736C12.6387 28.2233 11.8872 28.0486 11.2299 27.7932C10.54 27.5337 9.91544 27.1269 9.39908 26.6009C8.87338 26.0848 8.46661 25.46 8.20706 24.7703C7.95163 24.1131 7.77667 23.3616 7.72668 22.2616C7.67587 21.1591 7.66406 20.807 7.66406 18C7.66406 15.193 7.67587 14.8409 7.72641 13.7387C7.7764 12.6384 7.95108 11.8872 8.20651 11.2297C8.46606 10.54 8.87311 9.91516 9.39908 9.39908C9.91516 8.87311 10.54 8.46634 11.2297 8.20679C11.8872 7.95135 12.6384 7.77667 13.7387 7.72641C14.8409 7.67615 15.193 7.66406 18 7.66406C20.807 7.66406 21.1591 7.67615 22.2613 7.72668C23.3616 7.77667 24.1128 7.95135 24.7703 8.20651C25.46 8.46606 26.0848 8.87311 26.6012 9.39908C27.1269 9.91544 27.5339 10.54 27.7932 11.2297C28.0489 11.8872 28.2236 12.6384 28.2739 13.7387C28.3241 14.8409 28.3359 15.193 28.3359 18C28.3359 20.807 28.3241 21.1591 28.2736 22.2613Z"
              />
            </svg>
          </a>
          <a class="sf-icon cp-footer__icon" href="#">
            <svg class="sf-icon-path" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M18 0C8.06039 0 0 8.06039 0 18C0 27.9396 8.06039 36 18 36C27.9396 36 36 27.9396 36 18C36 8.06039 27.9396 0 18 0ZM26.2186 14.0345C26.2266 14.2116 26.2304 14.3896 26.2304 14.5684C26.2304 20.0278 22.0748 26.3232 14.4753 26.3235H14.4756H14.4753C12.1421 26.3235 9.97092 25.6396 8.14252 24.4677C8.46579 24.5058 8.79483 24.5248 9.12799 24.5248C11.0638 24.5248 12.8452 23.8645 14.2594 22.7563C12.4508 22.7227 10.9259 21.5283 10.3997 19.8866C10.6515 19.935 10.9105 19.9613 11.1761 19.9613C11.5532 19.9613 11.9185 19.9105 12.2657 19.8158C10.3752 19.4373 8.95111 17.7665 8.95111 15.7659C8.95111 15.7473 8.95111 15.7305 8.95166 15.7132C9.50839 16.0227 10.1451 16.209 10.8229 16.2298C9.71356 15.4896 8.98434 14.2243 8.98434 12.7908C8.98434 12.0339 9.18896 11.3247 9.54382 10.7141C11.5812 13.2141 14.6261 14.8582 18.0599 15.0309C17.989 14.7283 17.9525 14.413 17.9525 14.0889C17.9525 11.8081 19.8029 9.95773 22.0844 9.95773C23.2729 9.95773 24.3463 10.4601 25.1002 11.2632C26.0414 11.0775 26.9253 10.7336 27.7237 10.2604C27.4147 11.2247 26.7599 12.0339 25.9069 12.5456C26.7426 12.4456 27.5392 12.2239 28.2794 11.8949C27.7265 12.7235 27.0253 13.4514 26.2186 14.0345Z"
              />
            </svg>
          </a>
          <a class="sf-icon cp-footer__icon" href="#">
            <svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.7578 21.3724L21.613 18.0002L15.7578 14.6279V21.3724Z"/>
              <path
                d="M18 0C8.06039 0 0 8.06039 0 18C0 27.9396 8.06039 36 18 36C27.9396 36 36 27.9396 36 18C36 8.06039 27.9396 0 18 0ZM29.2473 18.0184C29.2473 18.0184 29.2473 21.6689 28.7842 23.4292C28.5246 24.3927 27.7649 25.1524 26.8014 25.4117C25.0411 25.875 18 25.875 18 25.875C18 25.875 10.9773 25.875 9.19858 25.3932C8.23508 25.134 7.47537 24.374 7.21582 23.4105C6.75247 21.6689 6.75247 18 6.75247 18C6.75247 18 6.75247 14.3498 7.21582 12.5895C7.4751 11.626 8.25348 10.8476 9.19858 10.5883C10.9589 10.125 18 10.125 18 10.125C18 10.125 25.0411 10.125 26.8014 10.6068C27.7649 10.866 28.5246 11.626 28.7842 12.5895C29.2659 14.3498 29.2473 18.0184 29.2473 18.0184Z"
              />
            </svg>
          </a>
        </div>
      </div>

      <div class="cp-footer__column">
        <div class="cp-footer__title">RELATED PRODUCTS</div>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Who we are</a>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Quality in the details</a>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Customer Reviews</a>
      </div>

      <div class="cp-footer__column">
        <div class="cp-footer__title">ABOUT CAPLUGS</div>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Who we are</a>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Quality in the details</a>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Customer Reviews</a>
      </div>

      <div class="cp-footer__column">
        <div class="cp-footer__title">CUSTOM PARTS</div>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Who we are</a>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Quality in the details</a>
        <a class="sf-link sf-link--reverse cp-footer__link" href="#">Customer Reviews</a>
      </div>
    </div>

  </div>

  <div class="cp-footer__bottom">
    <div class="cp-footer__item">Copyright © 2021 • Caplugs</div>
    <hr class="cp-footer__divider"/>
    <a class="sf-link sf-link--reverse cp-footer__item" href="#">Privacy Policy</a>
    <hr class="cp-footer__divider"/>
    <a class="sf-link sf-link--reverse cp-footer__item" href="#">Terms & Conditions</a>
  </div>
</div>
