<div class="sf-price {% if use_price_in_card == true %}sf-product-card__price{% endif %}">
    {% if on_sale %}
      <del class="sf-price__old">
        {{ product.price.list.formatted_amount }}
      </del>
      <ins class="sf-price__special">
        {{ product.price.actual.formatted_amount }}
      </ins>
    {% else %}
      <span class="sf-price__regular">
        {{ product.price.actual.formatted_amount }}
      </span>
    {% endif %}
</div>
