<div class="pt-2 pb-2">
  <table class="table table-sm table-borderless mb-0">
    <tbody>
      {% for property in product.properties %}
        {% if property.value %}
      <tr>
        <td class="text-right w-50"><strong>{{ property.display_name }}</strong></td>
        <td>{{ property.value }}</td>
      </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
