# ESLint has undocumented odd behavior on folders and files started with dots
# https://github.com/eslint/eslint/issues/12348
.deployment
.github
.husky
!.storybook
.vscode
.yarn
artifacts
assets
content
node_modules
storybook-static
client-app/modules/**/api/graphql/types.ts
client-app/core/api/graphql/**/types.ts
dist/
coverage/
