###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
[core]
	autocrlf=true

* text=auto

*.bat    text eol=crlf
*.cmd    text eol=crlf
*.config text eol=crlf

