<div id="account">
</div>
{{ 'bundle/dist/css/account.css' | static_asset_url | append_version | stylesheet_tag }}
<script src="{{ 'bundle/dist/js/account.js' | static_asset_url | append_version }}"></script>
