{% layout 'empty' %}

<div id="login"></div>
{{ 'bundle/css/account.css' | static_asset_url | append_version | stylesheet_tag }}
<script src="{{ 'bundle/js/account.js' | static_asset_url | append_version }}"></script>

