{%- include 'global-variables' -%}
<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    {{ 'style.css' | asset_url | append_version | stylesheet_tag }}
    <style>
      :root {
        --color-primary: {{ 'color_primary_500' | setting }};
        --color-primary-hover: {{ 'color_primary_700' | setting }};
      }

      .hover\:\!bg-\[color\:var\(--color-primary-hover\)\]:hover {
        background-color: var(--color-primary-hover)!important;
      }
    </style>
  </head>
  <body>
    <div class="flex-grow flex flex-col">
      <div class="polygon-bg flex-grow">
        <div class="container mx-auto pt-5 pb-52 px-7 max-w-screen-lg">
          <div class="flex lg:space-x-24">
            <div class="w-full lg:w-1/2 lg:mt-8">
              <h1 class="text-black-800 text-7xl md:text-8xl font-black mb-5">500</h1>
              <h2 class="text-black-800 text-2xl md:text-4xl font-bold mb-2">Internal Server Error</h2>
              <p class="text-neutral-700 text-base md:text-xl leading-relaxed mb-10">We suggest you back to home.</p>
              <div>
                <a
                  href="/"
                  class="relative inline-flex justify-center items-center rounded
                  border-2 border-transparent font-roboto-condensed select-none
                  focus:outline-dotted outline-1 outline-offset-[3px] w-40 uppercase
                  h-9 text-base
                  hover:!bg-[color:var(--color-primary-hover)] bg-[color:var(--color-primary)]
                  outline-[color:var(--color-primary)] text-additional-50"
                  ><span class="flex justify-center items-center">Home page</span></a
                >
              </div>
            </div>
            <div class="w-full lg:w-1/2 hidden lg:block">
              <img
                src="/static/images/errors/500.webp"
                alt="Internal Server Error"
                loading="lazy"
                class="w-full max-w-md"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
