{%- include 'global-variables' -%}
<!DOCTYPE html>
<html lang="{{ current_language.two_letter_language_name }}">
  <head>
    {%- include 'head-content' is_page_builder_preview_mode: true -%}
  </head>

  <body class="font-lato">
    {{ content_for_layout }}
  </body>
</html>
