<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <base href="{{ '/' | absolute_url }}" />
  <style>
    #error {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 var(--spacer-sm);
    margin: var(--spacer-xl) 0;
    }
  </style>
</head>
<body class="font-lato">
    <!-- Content here -->
    {{ content_for_layout }}
</body>
</html>
