{%- include 'global-variables' -%}
<!DOCTYPE html>
<html lang="{{ current_language.two_letter_language_name }}">
  <head>
    {%- include 'hotjar' -%}
    {%- include 'head-content' -%}
  </head>

  <body>
    {{ content_for_layout }}
  </body>
</html>
