.cp-footer {
  &__container {
    padding: var(--spacer-xl) var(--spacer-lg);
    background: var(--_c-light-primary);
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 78rem;
    margin: 0 auto;

    &:nth-child(2) {
      margin: var(--spacer-xl) auto 0;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 16rem;

    &:first-child {
      align-items: flex-start;
      width: 15rem;
    }
  }

  &__promo-text {
    @include font(
      --cp-footer-promo-text-font,
      var(--font-weight--medium),
      var(--font-size--xl),
      2rem,
      var(--font-family--secondary)
    );
  }

  &__button {
    margin: var(--spacer-sm) 0 0;
  }

  &__contact-title {
    @include font(
      --cp-footer-contact-title-font,
      var(--font-weight--medium),
      var(--font-size--lg),
      1.625rem,
      var(--font-family--secondary)
    );

    margin: var(--spacer-xs) 0 var(--spacer-2xs);
    text-transform: uppercase;
  }

  &__contact-text {
    @include font(
      --cp-footer-contact-text-font,
      var(--font-weight--normal),
      var(--font-size--sm),
      1.375rem,
      var(--font-family--secondary)
    );

    color: var(--_c-gray-primary);
    text-transform: uppercase;
  }

  &__contact-link {
    font: inherit;
    --link-color: var(--_c-gray-primary);

    &:hover {
      color: inherit;
    }
  }

  &__icons {
    --icon-color: var(--_c-green-primary);

    display: flex;
    margin: var(--spacer-sm) 0 0;
  }

  &__icon {
    --icon-width: 2.25rem;
    --icon-height: 2.25rem;

    &:not(:last-child) {
      margin: 0 var(--spacer-xs) 0 0;
    }
  }

  &__title {
    @include font(
      --cp-footer-title-font,
      var(--font-weight--medium),
      var(--font-size--lg),
      2rem,
      var(--font-family--secondary)
    );

    margin: 0 0 var(--spacer-xs);
    border-bottom: 1px solid var(--_c-gray-secondary);
    text-transform: uppercase;
  }

  &__link {
    --link-font-size: var(--font-size--sm);
    --link-font-weight: var(--font-weight--normal);
    --link-font-line-height: 1.375rem;

    align-self: flex-start;
    padding: var(--spacer-2xs) 0;
    text-transform: uppercase;
  }

  &__bottom {
    @include font(
      --cp-footer-bottom-font,
      var(--font-weight--normal),
      var(--font-size--sm),
      1.375rem,
      var(--font-family--secondary)
    );

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--cp-footer-bottom-padding, var(--spacer-xs));
    background: var(--_c-dark-accent);
  }

  &__divider {
    margin: var(--cp-footer-divider-margin, 0 var(--spacer-base));
    height: var(--cp-footer-divider-height, 2.188rem);
    border: none;
    border-left: 1px solid var(--_c-light-accent);
  }

  &__item {
    font: inherit;
  }

  @include for-desktop {
    &__bottom {
      --cp-footer-bottom-padding: var(--spacer-xs) calc(var(--spacer-2xl) + 1.3rem);
      --cp-footer-bottom-font-size: var(--font-size--sm);
      --cp-footer-bottom-font-weight: var(--font-weight--normal);
      --cp-footer-bottom-font-line-height: 1.375rem;

      text-transform: uppercase;
    }

    &__divider {
      --cp-footer-divider-margin: 0 var(--spacer-xl);
      --cp-footer-divider-height: 2.188rem;
    }
  }
}
