:root {
--body-text-color: var(--color-body-text, var(--color-neutral-950));

--link-color: var(--color-link, var(--color-accent-600));
--link-hover-color: var(--color-link-hover, var(--color-accent-700));

--price-color: var(--color-price, var(--color-success-600));
}
