@tailwind base;

@layer base {
  body {
    --outline-color: rgb(from var(--color-primary-500) r g b / 0.4);

    *:focus,
    *:focus-visible {
      @apply outline outline-2 outline-[--outline-color];
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

:root {
  --vc-radius: 0.5rem;
}
