@tailwind base;

@layer base {
  body {
    background-color: var(--color-additional-50);

    *:focus-visible {
      outline: var(--vc-focus-ring-width) solid var(--vc-focus-ring-color);
      outline-offset: var(--vc-focus-ring-offset);
    }
  }
}

.docs-story {
  background: var(--color-additional-50);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

:root {
  --vc-radius: 0.5rem;
}
