@import "../../helpers";

.sf-section {
  margin: var(--section-margin);

  @include background(
      --section-background,
      var(--_section-background-color, transparent),
      var(--_section-background-image)
  );

  @include for-desktop {
    background-image: var(--_section-background-desktop-image, var(--_section-background-image, none));
  }

  &__content {
    max-width: var(--section-width, 78rem);
    margin: var(--section-content-margin, 0 auto);
  }
}
