@media (min-width: 1024px) {
  .smartphone-only {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .desktop-only {
    display: none !important;
  }
}

.sf-header-navigation-item {
  position: var(--header-navigation-item-position, relative);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: var(--header-navigation-item-flex, 0);
      -ms-flex: var(--header-navigation-item-flex, 0);
          flex: var(--header-navigation-item-flex, 0);
}

@media (min-width: 1024px) {
  .sf-header-navigation-item {
    --header-navigation-item-position: static
  ;
  }
}

.sf-header-navigation-item__content {
  position: var(--header-navigation-item-content-position, fixed);
  top: var(--header-navigation-item-content-position, 0);
  width: var(--header-navigation-item-content-width, 100%);
  z-index: var(--header-navigation-item-content-position, 2);
  --header-navigation-item-padding: 0;
}

.sf-header-navigation-item__arrow-icon {
  --icon-width: 0.875rem;
  --icon-height: 0.438rem;
  --icon-color: var(--_c-gray-primary);
  margin: 0 0 0 var(--spacer-xs);
}

.sf-header-navigation-item__link {
  --link-text-decoration: var(--header-navigation-item-text-decoration, none);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.sf-header-navigation-item > .sf-header-navigation-item__menu-item {
  --menu-item-font-size: var(--font-size--base);
  --menu-item-font-weight: var(--font-weight--medium);
  --menu-item-text-transform: uppercase;
  display: var(--header-navigation-item-menu-item-display, flex);
  padding: var(--header-navigation-item-menu-item-padding, var(--spacer-sm));
  margin: var(--header-navigation-item-menu-item-margin, 0);
  border: var(--header-navigation-item-menu-item-border, var(--header-navigation-item-menu-item-border-style, solid) var(--header-navigation-item-menu-item-border-color, var(--c-light)));
  border-width: var(--header-navigation-item-menu-item-border-width, 0 0 1px 0);
}

.sf-header-navigation-item:hover > *:not(.sf-mega-menu) {
  --header-navigation-item-color: var(--c-primary);
  --header-navigation-item-border-color: var(--c-primary);
}

.sf-header-navigation-item:hover > *:not(.sf-mega-menu):active {
  --header-navigation-item-color: var(--c-primary);
}

.sf-header-navigation-item.is-active:hover > *:not(.sf-mega-menu) {
  --header-navigation-item-color: var(--c-primary);
}

.sf-header-navigation-item--not-stretched {
  --header-navigation-item-flex: 0
  ;
}

.sf-header-navigation-item__item {
  display: var(--header-navigation-item-display, flex);
}

.sf-header-navigation-item__item--desktop {
  --header-navigation-item-display: none;
}

.sf-header-navigation-item__item--desktop > *:not(.sf-mega-menu) {
  --link-color: var(--header-navigation-item-color, var(--c-dark-variant));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--header-navigation-item-padding, var(--spacer-base) var(--spacer-sm) var(--spacer-lg) var(--spacer-2xs));
  margin: var(--header-navigation-item-margin, 0);
  border: var(--header-navigation-item-border, var(--header-navigation-item-border-style, solid) var(--header-navigation-item-border-color, transparent));
  border-width: var(--header-navigation-item-border-width, 0 0 2px 0);
  -webkit-transition: var(--header-navigation-item-transition, border-color 150ms ease-in-out, color 150ms ease-in-out);
  transition: var(--header-navigation-item-transition, border-color 150ms ease-in-out, color 150ms ease-in-out);
  color: var(--header-navigation-item-color, var(--c-dark-variant));
  font: var(--header-navigation-item-font, var(--header-navigation-item-font-weight, var(--font-weight--medium)) var(--header-navigation-item-font-size, var(--font-size--lg))/var(--header-navigation-item-font-line-height, 1.2) var(--header-navigation-item-font-family, var(--font-family--secondary)));
  text-transform: none;
  text-decoration: initial;
  text-align: center;
}

@media (min-width: 1024px) {
  .sf-header-navigation-item__item--desktop > *:not(.sf-mega-menu) {
    padding: var(--header-navigation-item-padding, var(--spacer-base) var(--spacer-sm) var(--spacer-lg) var(--spacer-2xs));
    margin: var(--header-navigation-item-margin, 0);
  }
}

.sf-header-navigation-item__item--desktop > *:not(.sf-mega-menu):focus {
  --header-navigation-item-color: var(--c-text);
  --header-navigation-item-border-color: var(--c-primary);
}

.sf-header-navigation-item:not(:first-child) .sf-header-navigation-item__item--desktop > *:not(.sf-mega-menu) {
  --header-navigation-item-padding: var(--spacer-base) var(--spacer-sm) var(--spacer-lg) var(--spacer-sm);
}

@media (min-width: 1024px) {
  .sf-header-navigation-item__item--desktop {
    --header-navigation-item-display: flex;
  }
}

.sf-header-navigation-item__item--mobile {
  --header-navigation-item-padding: 0;
  --header-navigation-item-border: none;
  width: var(--header-navigation-item-width, 100%);
}

.sf-header-navigation-item__item--mobile > .sf-header-navigation-item__menu-item {
  --menu-item-font-size: var(--font-size--base);
  --menu-item-font-weight: var(--font-weight--medium);
  --menu-item-text-transform: uppercase;
  display: var(--header-navigation-item-menu-item-display, flex);
  padding: var(--header-navigation-item-menu-item-padding, var(--spacer-sm));
  margin: var(--header-navigation-item-menu-item-margin, 0);
  border: var(--header-navigation-item-menu-item-border, var(--header-navigation-item-menu-item-border-style, solid) var(--header-navigation-item-menu-item-border-color, var(--c-light)));
  border-width: var(--header-navigation-item-menu-item-border-width, 0 0 1px 0);
}

@media (min-width: 1024px) {
  .sf-header-navigation-item__item--mobile {
    --header-navigation-item-display: none;
  }
}

.sf-header-navigation-item__icon {
  margin: 0 var(--spacer-xs) 0 0;
}

.sf-header-navigation__menu {
  display: var(--header-navigation-menu-display, none);
}

@media (min-width: 1024px) {
  .sf-header-navigation__menu {
    --header-navigation-menu-display: flex;
  }
}

.sf-header-navigation__sidebar {
  --sidebar-content-padding: 0;
  display: var(--header-navigation-sidebar-display, flex);
}

@media (min-width: 1024px) {
  .sf-header-navigation__sidebar {
    --header-navigation-sidebar-display: none;
  }
}

.sf-header {
  position: relative;
}

.sf-header__wrapper {
  position: var(--header-wrapper-position);
  z-index: var(--header-wrapper-z-index, 1);
  width: 100%;
  background: var(--header-background, #ffffff);
  -webkit-transition: var(--header-wrapper-transition, transform 150ms ease-in-out);
  transition: var(--header-wrapper-transition, transform 150ms ease-in-out);
  -webkit-transform: var(--header-wrapper-transform);
          transform: var(--header-wrapper-transform);
  -webkit-box-shadow: var(--header-box-shadow);
          box-shadow: var(--header-box-shadow);
}

.sf-header__header {
  display: block;
  -ms-flex-wrap: var(--header-flex-wrap, wrap);
      flex-wrap: var(--header-flex-wrap, wrap);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--header-padding, var(--spacer-base) 0 0);
  max-width: var(--header-width, 78rem);
  margin: var(--header-margin, 0 auto);
}

@media (min-width: 1024px) {
  .sf-header__header {
    -ms-flex-wrap: var(--header-flex-wrap, nowrap);
        flex-wrap: var(--header-flex-wrap, nowrap);
  }
}

.sf-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sf-header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sf-header__logo {
  --image-width: var(--header-logo-width, 7.5rem);
  --image-height: var(--header-logo-height, auto);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--header-logo-width, auto);
          flex: 0 0 var(--header-logo-width, auto);
  margin: var(--header-logo-margin, var(--spacer-xs) var(--spacer-xl) 0 0);
}

.sf-header__title {
  margin: var(--header-title-margin, var(--spacer-xs) 0);
}

.sf-header__aside:not(:empty) {
  margin: var(--header-aside-margin, 0 0 0 auto);
}

.sf-header__actions {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: var(--header-actions-flex-wrap, wrap);
      flex-wrap: var(--header-actions-flex-wrap, wrap);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 1024px) {
  .sf-header__actions {
    -ms-flex-wrap: var(--header-actions-flex-wrap, nowrap);
        flex-wrap: var(--header-actions-flex-wrap, nowrap);
  }
}

.sf-header__navigation {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: var(--header-navigation-display, none);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% + var(--spacer-sm) * 2);
          flex: 0 0 calc(100% + var(--spacer-sm) * 2);
  margin: var(--header-navigation-margin, 0);
}

@media (min-width: 1024px) {
  .sf-header__navigation {
    --header-navigation-display: flex;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.sf-header__navigation.is-visible {
  --header-navigation-display: flex;
}

.sf-header__search {
  --search-bar-display: none;
  -webkit-box-flex: var(--header-search-flex, 0 0 100%);
      -ms-flex: var(--header-search-flex, 0 0 100%);
          flex: var(--header-search-flex, 0 0 100%);
  margin: var(--spacer-xs) 0;
}

@media (min-width: 1024px) {
  .sf-header__search {
    --search-bar-display: flex;
    --header-search-flex: 1 0 auto;
    margin: 0;
  }
}

.sf-header__icons {
  -webkit-box-ordinal-group: var(--header-icons-order);
      -ms-flex-order: var(--header-icons-order);
          order: var(--header-icons-order);
  display: var(--header-icons-display, none);
  margin: var(--header-icons-margin, 0);
}

@media (min-width: 1024px) {
  .sf-header__icons {
    --header-icons-display: flex;
  }
}

.sf-header__icon {
  --icon-color: var(--c-dark-variant);
  --icon-badge-top: -0.5rem;
  --icon-badge-right: -0.5rem;
}

.sf-header__icon:hover {
  --icon-color: var(--c-text);
  -webkit-filter: var(--header-icon-filter, drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)));
          filter: var(--header-icon-filter, drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)));
}

.sf-header__icon.is-active {
  --icon-color: var(--c-primary);
}

.sf-header__action {
  margin: var(--header-action-margin, 0 0 0 var(--spacer-xl));
}

.sf-header-height {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sf-header.is-sticky {
  --header-wrapper-position: fixed;
}

.sf-header.is-hidden {
  --header-wrapper-transform: translate3d(0, -100%, 0);
  --header-wrapper-transition: transform 300ms ease-in-out;
}

.sf-header--has-mobile-search, .sf-header--has-mobile-navigation {
  --header-box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.1);
}

@media (min-width: 1024px) {
  .sf-header--has-mobile-search, .sf-header--has-mobile-navigation {
    --header-box-shadow: none;
  }
}

.sf-header--has-mobile-search .sf-header__search {
  --search-bar-display: flex;
}

.sf-header--has-mobile-navigation {
  --header-navigation-display: flex;
}

@media (min-width: 1024px) {
  .sf-header--multiline {
    --header-icons-margin: var(--spacer-sm) 0 var(--spacer-sm) 100%;
    --header-icons-order: -1;
    --header-actions-flex-wrap: wrap;
    --header-navigation-item-padding: calc(var(--spacer-sm) - 1px) var(--spacer-sm);
  }
}
/*# sourceMappingURL=SfHeader.css.map */