@media (min-width: 1024px) {
  .smartphone-only {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .desktop-only {
    display: none !important;
  }
}

.sf-search-bar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: var(--search-bar-display, flex);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--search-bar-background);
  padding: var(--search-bar-padding);
  width: var(--search-bar-width, auto);
  height: var(--search-bar-height, 2.5rem);
}

.sf-search-bar__button {
  position: relative;
  bottom: auto;
  right: auto;
  padding: 0.625rem;
  --button-width: 2.5rem;
  --button-height: 2.5rem;
  --button-border-radius: 0.188rem;
  --button-background: var(--_c-red-primary);
}

.sf-search-bar__button:hover {
  --button-background: var(--_c-red-primary-lighten);
}

.sf-search-bar__icon {
  --icon-size: 1.25rem;
  --icon-color: var(--c-white);
  width: 1.25rem;
  display: var(--search-bar-icon-display, block);
}

.sf-search-bar__input {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: transparent;
  text-align: var(--search-bar-input-text-align);
  width: 100%;
  height: 100%;
  padding: var(--spacer-sm);
  border-radius: var(--search-bar-input-border-radius, 0.188rem 0 0 0.188rem);
  background-color: var(--search-bar-input-background-color, var(--_c-gray-accent));
  --search-bar-placeholder-color: var(--_c-dark-primary);
  font: var(--search-bar-font, var(--search-bar-font-weight, var(--font-weight--normal)) var(--search-bar-font-size, var(--font-size--sm))/var(--search-bar-font-line-height, 1.6) var(--search-bar-font-family, var(--font-family--secondary)));
  border: var(--search-bar-border, var(--search-bar-border-style, solid) var(--search-bar-border-color, var(--c-dark-variant)));
  border-width: var(--search-bar-border-width, 0 0 0px 0);
}

.sf-search-bar__input::-webkit-input-placeholder {
  color: var(--search-bar-placeholder-color, var(--c-gray));
  -webkit-transition: var(--search-bar-placeholder-transition, color 0.2s ease-in);
  transition: var(--search-bar-placeholder-transition, color 0.2s ease-in);
  font: inherit;
}

.sf-search-bar__input::-moz-placeholder {
  color: var(--search-bar-placeholder-color, var(--c-gray));
  -webkit-transition: var(--search-bar-placeholder-transition, color 0.2s ease-in);
  transition: var(--search-bar-placeholder-transition, color 0.2s ease-in);
  font: inherit;
}

.sf-search-bar__input:-ms-input-placeholder {
  color: var(--search-bar-placeholder-color, var(--c-gray));
  -webkit-transition: var(--search-bar-placeholder-transition, color 0.2s ease-in);
  transition: var(--search-bar-placeholder-transition, color 0.2s ease-in);
  font: inherit;
}

.sf-search-bar__input:focus {
  --search-bar-border-color: var(--c-primary);
}

.sf-search-bar__input:focus::-webkit-input-placeholder {
  color: var(--search-bar-placeholder-color-focus, transparent);
}

.sf-search-bar__input:focus::-moz-placeholder {
  color: var(--search-bar-placeholder-color-focus, transparent);
}

.sf-search-bar__input:focus:-ms-input-placeholder {
  color: var(--search-bar-placeholder-color-focus, transparent);
}

.sf-search-bar__input::-webkit-search-cancel-button {
  opacity: 0;
}

.sf-search-bar__input[type="search"] {
  -webkit-appearance: none;
}

.sf-search-bar__input::-ms-clear {
  opacity: 0;
}

.sf-search-bar--position-center {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: var(--search-bar-icon-flex-direction, row);
          flex-direction: var(--search-bar-icon-flex-direction, row);
}

.sf-search-bar--position-center .sf-search-bar__input {
  --search-bar-input-text-align: center;
}

.sf-search-bar--position-center .sf-search-bar__input::-webkit-input-placeholder {
  text-align: center;
}

.sf-search-bar--position-center .sf-search-bar__input:-ms-input-placeholder {
  text-align: center;
}

.sf-search-bar--position-center .sf-search-bar__input::-ms-input-placeholder {
  text-align: center;
}

.sf-search-bar--position-center .sf-search-bar__input::placeholder {
  text-align: center;
}

.sf-search-bar--no-icon {
  --search-bar-icon-display: none;
}

@media (min-width: 1024px) {
  .sf-search-bar {
    --search-bar-width: 20rem;
  }
}
/*# sourceMappingURL=SfSearchBar.css.map */