{% include 'blocks/helpers/cover-style' %}

<div id="{{ block.__id }}" style="position: relative;">
    <div class="{% include 'blocks/helpers/block-paddings' %} block block-cover"
        {% if block.background != '' and block.background.url != '' %} style="background-image: url({{ block.background.url }})" {% endif %}>
        <div class="container">
            <div class="d-flex justify-content-center {% if block.formPosition == 'right' %} flex-row-reverse {% endif %}">
              {% include 'blocks/form/form' %}

              {% include 'blocks/helpers/cover-text' %}
            </div>
        </div>
    </div>
</div>

{% comment %}

__id: string (unique block id)

name: string
headerType: [ h1, h2, h3, like-h1, like-h2, like-h3 ]
noTop: bool
noBottom: bool

formPosition: string (null, right)
formId: string
formName: string
formSubmitRedirectUrl: string
formSubmitButtonStyle: string (bootstrap buttons styles)
formFields: object[]{
    fieldType: string (button, checkbox, email, hidden, phone, radio, select, text, textarea)
    fieldName: string
    fieldId: string
    labelText: string
    placeholder: string
    fieldValue: string
    required: bool
    validationMessage: string
    radioListItems: object[] {
        title: string
        text: string
        id: string
        value: string
        isChecked: bool
        isDisabled: bool
    }
    selectOptions: object[] {
        label: string
        value: string
        isSelected: bool
        isDisabled: bool
    }
showFormLabels: bool
firstButton: object (url, text, style [ bootstrap buttons styles ], openInNewTab [True, False]),
secondButton: object (url, text, style [ bootstrap buttons styles ], openInNewTab [True, False]),

{% endcomment %}
