:root {
--body-bg-color: var(--color-body-bg, var(--color-neutral-50));
--body-text-color: var(--color-body-text, var(--color-neutral-950));

--link-color: var(--color-link, var(--color-accent-600));
--link-hover-color: var(--color-link-hover, var(--color-accent-700));

--price-color: var(--color-price, var(--color-success-600));

--header-top-bg-color: var(--color-header-top-bg, var(--color-secondary-900));
--header-top-text-color: var(--color-header-top-bg, var(--color-additional-50));
--header-top-link-color: var(--color-header-top-bg, var(--color-accent-300));
--header-top-link-hover-color: var(--color-header-top-bg, var(--color-additional-50));

--header-bottom-bg-color: var(--color-header-bottom-bg, var(--color-additional-50));
--header-bottom-text-color: var(--color-header-bottom-text, var(--color-neutral-900));
--header-bottom-link-color: var(--color-header-bottom-link, var(--color-neutral-500));
--header-bottom-link-hover-color: var(--color-header-bottom-link-hover, var(--color-neutral-900));
--header-bottom-link-active-color: var(--color-header-bottom-link-active, var(--color-neutral-900));

--footer-top-bg-color: var(--color-footer-top-bg, var(--color-secondary-900));
--footer-top-text-color: var(--color-footer-top-text, var(--color-additional-50));
--footer-top-link-color: var(--color-footer-top-link, var(--color-neutral-400));
--footer-top-link-hover-color: var(--color-footer-top-link-hover, var(--color-additional-50));
--footer-top-link-active-color: var(--color-footer-top-link-active, var(--color-additional-50));

--footer-bottom-bg-color: var(--color-footer-bottom-bg, var(--color-secondary-950));
--footer-bottom-text-color: var(--color-footer-bottom-text, var(--color-additional-50));
--footer-bottom-link-color: var(--color-footer-bottom-link, var(--color-accent-300));
--footer-bottom-link-hover-color: var(--color-footer-bottom-link-hover, var(--color-additional-50));

--mobile-menu-bg-color: var(--color-mobile-menu-bg, var(--color-secondary-900));
--mobile-menu-text-color: var(--color-mobile-menu-text, var(--color-additional-50));
--mobile-menu-link-color: var(--color-mobile-menu-link, var(--color-accent-200));
--mobile-menu-link-active-color: var(--color-mobile-menu-link-active, var(--color-additional-50));
--mobile-menu-icon-color: var(--color-mobile-menu-icon, var(--color-accent-300));
--mobile-menu-icon-active-color: var(--color-mobile-menu-icon-active, var(--color-primary-500));
}
