:root {
--text-color: var(--color-body-text, var(--color-neutral-950));

--link-color: var(--color-link, var(--color-accent-600));
--link-hover-color: var(--color-link-hover, var(--color-accent-700));

--top-header-bg-color: var(--color-header-top-bg, var(--color-secondary-900));
--bottom-header-bg-color: var(--color-header-bottom-bg, var(--color-additional-50));

--top-footer-bg-color: var(--color-footer-top-bg, var(--color-secondary-900));
--bottom-footer-bg-color: var(--color-footer-bottom-bg, var(--color-secondary-950));

--mobile-menu-bg-color: var(--color-mobile-menu-bg, var(--color-secondary-900));
}
