@use "sass:meta";
@media print {
  html {
    @apply h-full min-h-screen;
  }

  body {
    @apply w-full h-full min-h-screen mx-auto;

    #app {
      @apply h-full min-h-screen;
    }
  }

  @include meta.load-css("print/atoms/vc-badge");
  @include meta.load-css("print/atoms/vc-button");
  @include meta.load-css("print/atoms/vc-container");
  @include meta.load-css("print/molecules/vc-chip");
  @include meta.load-css("print/atoms/vc-widget");
  @include meta.load-css("print/molecules/vc-input");
  @include meta.load-css("print/molecules/vc-layout-with-right-sidebar");
  @include meta.load-css("print/molecules/vc-line-item-price");
  @include meta.load-css("print/molecules/vc-line-item-total");
  @include meta.load-css("print/molecules/vc-line-item");
  @include meta.load-css("print/molecules/vc-line-items");
  @include meta.load-css("print/molecules/vc-select");
  @include meta.load-css("print/molecules/vc-steps");
  @include meta.load-css("print/molecules/vc-vendor");
  @include meta.load-css("print/organisms/vc-product-image");
  @include meta.load-css("print/molecules/vc-alert");
}
