@use "sass:meta";
@tailwind components;

@include meta.load-css("helpers");
@include meta.load-css("deprecated");
@include meta.load-css("colors");

:root {
  //Recommended maximum border-radius: 10px (0.625rem)
  --vc-radius: 0.5rem;
}

@include meta.load-css("print");
@include meta.load-css("dark");

/* Use for custom themes only */
@include meta.load-css("custom");

@tailwind utilities;
