{% layout 'login' %}
<div class="text-center">
  <h3>{{ "common.reset_password.reset_password_confirm" | t }}</h1>
  <p>{{ "common.reset_password.click_to_log_in" | t | customer_login_link }}</p>
</div>
