@import "../../helpers";

.cp-introducing {
  margin: var(--cp-introducing-margin, var(--spacer-sm));
  background: var(--cp-introducing-background, var(--_cp-introducing-background, var(--_c-yellow-accent)));

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  &__content {
    box-sizing: border-box;
    padding: var(--cp-introducing-content-padding, var(--spacer-base));
  }

  &__subtitle {
    @include font(
      --cp-introducing-subtitle-font,
      var(--font-weight--bold),
      var(--font-size--sm),
      1.25rem,
      var(--font-family--secondary)
    );

    color: var(--cp-introducing-subtitle-color, var(--_c-green-primary));
  }

  &__title {
    @include font(
      --cp-introducing-title-font,
      var(--font-weight--bold),
      var(--font-size--lg),
      1.5rem,
      var(--font-family--secondary)
    );

    margin: var(--cp-introducing-title-margin, var(--spacer-xs) 0 0);
  }

  &__description {
    @include font(
      --cp-introducing-description-font,
      var(--font-weight--normal),
      var(--font-size--base),
      1.375rem,
      var(--font-family--secondary)
    );

    margin: var(--cp-introducing-description-margin, var(--spacer-xs) 0 0);
    color: var(--cp-introducing-description-color, var(--c-black-light));
  }

  &__button {
    margin: var(--cp-introducing-button-margin, var(--spacer-xs) 0 0);
  }

  @include for-desktop {
    --cp-introducing-margin: 0;

    padding: var(--spacer-2xl) var(--spacer-lg);

    &__container {
      flex-wrap: nowrap;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 78rem;
    }

    &__img-container {
      width: auto;
      min-width: 59.1%;
    }

    &__img {
      max-width: none;
      width: 100%;
      border-radius: 0.313rem;
    }

    &__content {
      --cp-introducing-content-padding: var(--spacer-lg) var(--spacer-xl);
    }

    &__subtitle {
      --cp-introducing-subtitle-font-size: var(--font-size--lg);
    }

    &__title {
      --cp-introducing-title-margin: var(--spacer-sm) 0 0;
      --cp-introducing-title-font-size: var(--h2-font-size);
      --cp-introducing-title-font-line-height: 3rem;
    }

    &__description {
      --cp-introducing-description-margin: var(--spacer-sm) 0 0;
      --cp-introducing-description-font-size: var(--font-size--xl);
      --cp-introducing-description-font-line-height: 1.875rem;
    }

    &__button {
      --cp-introducing-button-margin: var(--spacer-sm) 0 0;
    }
  }
}
