@import "../../helpers";

.cp-materials {
  background: var(--cp-materials-background, var(--_cp-materials-background, var(--c-white)));

  &__content {
    padding: var(--cp-materials-content-padding, var(--spacer-base) var(--spacer-lg));
  }

  &__title {
    @include font(
      --cp-materials-title-font,
      var(--font-weight--bold),
      var(--font-size--lg),
      1.5rem,
      var(--font-family--secondary)
    );
  }

  &__description {
    @include font(
      --cp-materials-description-font,
      var(--font-weight--normal),
      var(--font-size--base),
      1.375rem,
      var(--font-family--secondary)
    );

    margin: var(--cp-materials-description-margin, var(--spacer-xs) 0 0);
    color: var(--cp-materials-description-color, var(--c-black-light));
  }

  &__list {
    @include font(
      --cp-materials-list-font,
      var(--font-weight--bold),
      var(--font-size--lg),
      1.5rem,
      var(--font-family--secondary)
    );

    margin: 0;
    padding: 0;
    color: var(--_c-dark-secondary);
    list-style-type: none;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: var(--cp-materials-item-margin, var(--spacer-base) 0 0);

    &:before {
      content: "";
      display: block;
      margin: var(--cp-materials-item-before-margin, 0 var(--spacer-xs) 0 0);
      width: 1.875rem;
      min-width: 1.875rem;
      height: 1.875rem;
      background: url("../../../../static/images/bullet@2x.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__button {
    margin: var(--cp-materials-button-margin, var(--spacer-lg) auto 0);
  }

  &__banner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(--cp-materials-banner-padding, var(--spacer-base));
    width: 100%;
  }

  &__img {
    z-index: 2;
    position: relative;
    border-radius: 0.313rem;
  }

  &__info {
    @include font(
      --cp-materials-info-font,
      var(--font-weight--normal),
      var(--font-size--base),
      1.375rem,
      var(--font-family--secondary)
    );

    z-index: 1;
    position: relative;
    margin: -0.313rem 0 0;
    padding: var(----cp-materials-info-padding, var(--spacer-sm));
    background: var(--_c-light-primary);
  }

  &__text {
    margin: 0 0 var(--spacer-xs);
    color: var(--_c-dark-secondary);
  }

  &__link {
    --link-font-size: var(--font-size--base);
    --link-color: var(--_c-blue-primary);
  }

  @include for-desktop {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: var(--spacer-2xl) var(--spacer-lg);
    max-width: 78rem;

    &__content {
      --cp-materials-content-padding: 0;
    }

    &__title {
      --cp-materials-title-font-size: var(--h2-font-size);
      --cp-materials-title-font-line-height: 3rem;
    }

    &__description {
      --cp-materials-description-margin: var(--spacer-sm) 0 var(--spacer-base);
      --cp-materials-description-font-size: var(--font-size--xl);
      --cp-materials-description-font-line-height: 1.875rem;
    }

    &__list {
      --cp-materials-list-font-size: var(--font-size--xl);
      --cp-materials-list-font-weight: var(--font-weight--medium);
      --cp-materials-list-font-line-height: 1.875rem;

      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      box-sizing: border-box;
      padding: 0 var(--spacer-sm) 0 0;
      width: 50%;
    }

    &__button {
      --cp-materials-button-margin: var(--spacer-xl) 0 0;
    }

    &__banner {
      --cp-materials-banner-padding: 0 0 0 var(--spacer-sm);

      box-sizing: border-box;
      max-width: 23.375rem;
    }
  }
}
