@import "../../helpers";

.cp-solutions {
  padding: var(--cp-solutions-padding, var(--spacer-lg) var(--spacer-base));
  background: var(--cp-solutions-background, url("../../../../static/images/bg.svg"));
  background-size: cover;
  background-color: var(--_c-yellow-accent);

  &__subtitle {
    @include font(
      --cp-solutions-subtitle-font,
      var(--font-weight--bold),
      var(--font-size--sm),
      1.25rem,
      var(--font-family--secondary)
    );

    color: var(--cp-solutions-subtitle-color, var(--_c-green-primary));
  }

  &__title {
    @include font(
      --cp-solutions-title-font,
      var(--font-weight--bold),
      var(--font-size--lg),
      1.5rem,
      var(--font-family--secondary)
    );

    margin: var(--cp-solutions-title-margin, var(--spacer-xs) 0 0);
  }

  &__items {
    margin: var(--cp-solutions-items-margin, var(--spacer-lg) 0 0);
  }

  &__item {
    padding: var(--cp-solutions-item-padding, 0);

    &:not(:last-child) {
      --cp-solutions-item-padding: 0 0 var(--spacer-base);
    }
  }

  &__banner {
    overflow: hidden;
    display: flex;
    align-items: stretch;
    background: var(--c-white);
    border: 1px solid var(--_c-gray-secondary);
    border-radius: 0.313rem;
    cursor: pointer;
  }

  &__img {
    width: var(--cp-solutions-img-width, 9.25rem);
    height: var(--cp-solutions-img-height, 9.25rem);
    background: var(--cp-solutions-img-background);
  }

  &__content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--cp-solutions-content-padding, 0 var(--spacer-sm));
    border-top: 0.188rem solid var(--_c-green-primary);
  }

  &__name {
    @include font(
      --cp-solutions-title-font,
      var(--font-weight--bold),
      var(--font-size--lg),
      1.5rem,
      var(--font-family--secondary)
    );

    color: var(--c-black-primary);
  }

  &__icon {
    --icon-width: 0.438rem;
    --icon-height: 0.875rem;

    margin: 0 0 0 var(--spacer-xs);
  }

  @include for-desktop {
    --cp-solutions-padding: var(--spacer-2xl) var(--spacer-lg);
    --cp-solutions-background: url("../../../../static/images/bg-desktop.svg");

    &__container {
      margin: 0 auto;
      max-width: 78rem;
    }

    &__subtitle {
      --cp-solutions-subtitle-font-size: var(--font-size--lg);
    }

    &__title {
      --cp-solutions-title-font-size: var(--h2-font-size);
      --cp-solutions-title-font-line-height: 3rem;
    }

    &__items {
      --cp-solutions-items-margin: var(--spacer-base) calc(#{var(--spacer-lg)} * -1) 0;

      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      --cp-solutions-item-padding: 0 var(--spacer-lg);

      box-sizing: border-box;
      width: calc(100% / 3);

      &:not(:last-child) {
        --cp-solutions-item-padding: 0 var(--spacer-lg);
      }
    }

    &__img {
      --cp-solutions-img-width: 10.5rem;
      --cp-solutions-img-height: 10.5rem;
    }
  }
}
