.header-navigation-item {
  $notFirst: '';

  --header-navigation-item-flex: 0;

  &:not(:first-child) {
    $notFirst: &;
  }

  &__item {
    &--desktop {
      &>*:not(.sf-mega-menu) {
        --header-navigation-item-padding: var(--spacer-base) var(--spacer-sm) var(--spacer-lg) var(--spacer-2xs);
        --header-navigation-item-font-size: var(--font-size--lg);
        --header-navigation-item-font-weight: var(--font-weight--medium);
        text-transform: none;

        #{$notFirst} & {
          --header-navigation-item-padding: var(--spacer-base) var(--spacer-sm) var(--spacer-lg) var(--spacer-sm);
        }
      }

    }
  }

  &__link {
    display: flex;
    white-space: nowrap;
  }

  &__arrow-icon {
    --icon-width: 0.875rem;
    --icon-height: 0.438rem;
    --icon-color: var(--_c-gray-primary);
    margin: 0 0 0 var(--spacer-xs);
  }

  &__icon {
    --icon-width: 1.125rem;
    --icon-height: 1.125rem;
    margin: 0 var(--spacer-xs) 0 0;
  }

  &__basket-icon {
    --icon-width: 1.5rem;
    --icon-height: 1.25rem;
  }
}

.header {
  &__header {
    --header-padding: var(--spacer-base) 0 0;
    --header-width: 78rem;
    display: block;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__logo {
    --header-logo-margin: var(--spacer-xs) var(--spacer-xl) 0 0;
    --header-logo-width: 7.5rem;
    --image-height: auto;
  }

  &__search {
    @include for-desktop {
      --header-search-flex: 1 0 auto;
      margin: 0;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 var(--spacer-xl);

    //no var for font-size: 13px;
    font-size: 0.812rem;
    text-align: center;

    a {
      --link-text-decoration: none;
      --link-font-size: 0.812rem;
      --link-font-weight: 400;

      &:hover {
        --link-text-decoration: underline;
      }
    }
  }

  &__link {}

  &__select {
    margin: 0 var(--spacer-2xs) 0 var(--spacer-sm);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__navigation {
    --header-navigation-margin: 0;
  }

  &__icons {
    --header-icons-margin: 0;
  }
}
