{% layout 'error' %}

<div id="error">
  <div class="sf-image image" data-loaded="true">
    <img style="display:block;" src="{{'images/error.svg'  | static_asset_url }}">
    <noscript><img src="{{ 'images/error.svg' | static_asset_url }}" class="noscript"></noscript>
    <!---->
  </div>
  <div class="sf-heading heading sf-heading--no-underline">
    <h2 class="sf-heading__title h2">
      {{ '500.title' | t }}
    </h2>
    <div class="sf-heading__description">
      {{ '500.description' | t }}
    </div>
  </div>
  <div class="actions">
    <a href="/" class="sf-link sf-button sf-button--full-width actions__button" style="outline: none;">
      Return home
    </a>
  </div>
</div>
