.vc-button {
  $colors: primary, secondary, accent, neutral, success, danger, info, warning;
  $loading: "";
  $disabled: "";

  &--loading {
    $loading: &;
  }

  &--disabled {
    $disabled: &;

    &:not(#{$loading}) {
      --text-color: var(--color-neutral-800);
      --vc-icon-color: var(--color-neutral-600);
    }
  }

  &[class*="vc-button--solid--"] {
    --text-color: var(--color-additional-950);
  }

  &--solid {
    @each $color in $colors {
      &--#{$color} {
        --bg-color: var(--color-#{$color}-400);
        --border-color: var(--color-#{$color}-400);

        &:hover:not(#{$loading}, #{$disabled}) {
          --bg-color: var(--color-#{$color}-500);
          --border-color: var(--color-#{$color}-500);
        }
      }
    }
  }

  &--outline {
    @each $color in $colors {
      &--#{$colors} {
        --text-color: var(--color-#{$color}-900);
        --border-color: var(--color-#{$color}-600);
      }
    }
  }

  &--no-border {
    @each $color in $colors {
      &--#{$colors} {
        --bg-color: transparent;
        --border-color: transparent;
        --text-color: var(--color-#{$color}-900);
      }
    }
  }

  &--no-background {
    @each $color in $colors {
      &--#{$colors} {
        --text-color: var(--color-#{$color}-900);
      }
    }
  }

  &--solid-light {
    @each $color in $colors {
      &--#{$colors} {
        --bg-color: var(--color-#{$color}-200);
        --text-color: var(--color-#{$color}-900);
      }
    }
  }
}
