@use "sass:map";
$transition-duration: var(--transition-duration, .2s);
$animation-duration: var(--animation-duration, .3s);

// fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-duration;
  will-change: opacity;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0
}

// slide-fade-<direction>
$slide-fade: (
  'left': (coordinate: 'X', value: -10px),
  'right': (coordinate: 'X', value: 10px),
  'top': (coordinate: 'Y', value: -10px),
  'bottom': (coordinate: 'Y', value: 10px),
);

@each $direction, $data in $slide-fade {
  .slide-fade-#{$direction}-enter-active,
  .slide-fade-#{$direction}-leave-active {
    transition: transform $transition-duration ease, opacity $transition-duration ease;
    will-change: transform, opacity;
  }

  .slide-fade-#{$direction}-enter-from,
  .slide-fade-#{$direction}-leave-to {
    opacity: 0;
    transform: translate#{map.get($data, coordinate)}(map.get($data, value));
  }
}

// scale
.scale-enter-active,
.scale-leave-active {
  transition: transform $transition-duration;
  will-change: transform;
}

.scale-enter-from,
.scale-leave-to {
  transform: scale(0);
}

// shake
.shake-enter-active,
{
  animation: $animation-duration 6 both ease shake;
  will-change: transform;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(15deg);
  }
  40%,
  80% {
    transform: rotate(-15deg);
  }
}

// list
.list-move,
.list-enter-active,
.list-leave-active {
  transition: var(--list-transition, transform $transition-duration ease);
  will-change: var(--list-will-change, transform, opacity);
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: var(--list-transform);
}

.list-leave-active {
  position: absolute !important;
}
