<div class="row">
  <div class="col">
    <div class="mt-5 text-center">
      <div class="text-danger mb-3">
        <i class="fas fa-heart-broken fa-8x"></i>
      </div>
      <h1 class="display-1">404</h1>
      <p class="lead">{{ "404.not-found" | t }}</p>
    </div>
  </div>
</div>
