<div class="row">
  <div class="col">
    <div class="mt-5 text-center">
      <div class="text-warning mb-3">
        <i class="fas fa-meteor fa-8x"></i>
      </div>
      <h1 class="display-1">500</h1>
      <p class="lead">{{ "500.something-went-wrong" | t }}</p>
    </div>
  </div>
</div>
