<div class="row">
  <div class="col">
    <div class="mt-5 text-center">
      <div class="mb-3">
        <i class="fas fa-lock fa-8x"></i>
      </div>
      <h1 class="display-1">{{ "access-denied.title" | t }}</h1>
      <p class="lead">{{ "access-denied.no-access" | t }}</p>
    </div>
  </div>
</div>
