<div id="checkout"></div>
{{ 'bundle/css/checkout.css' | static_asset_url | append_version | stylesheet_tag }}
<script src="{{ 'bundle/js/checkout.js' | static_asset_url | append_version }}"></script>
