<script src="{{ 'bundle/dist/js/catalog.js' | static_asset_url | append_version }}"></script>
{{ 'bundle/dist/css/catalog.css' | static_asset_url | append_version | stylesheet_tag }}
<div id="category"></div>
