<div id="product"></div>
{{ 'bundle/dist/css/catalog.css' | static_asset_url | append_version | stylesheet_tag }}
<script>
  window.PRODUCT_ID ="{{ context.slug_routing_data.object_id }}";
</script>
<script src="{{ 'bundle/dist/js/catalog.js' | static_asset_url | append_version }}"></script>
