.search-bar {
  --search-bar-height: 2.5rem;
  --search-bar-width: auto;
  &__input {
    --search-bar-border-width: 0;
    --search-bar-font-size: var(--font-size--sm);
    --search-bar-placeholder-color: var(--_c-dark-primary);
    padding: var(--spacer-sm);
    border-radius: 0.188rem 0 0 0.188rem;
    background-color: var(--_c-gray-accent);
  }
  &__button {
    --button-width: 2.5rem;
    --button-height: 2.5rem;
    --button-border-radius: 0.188rem;
    --button-background: var(--_c-red-primary);
    position: relative;
    bottom: auto;
    right: auto;
    padding: rem(10px);

    &:hover {
      --button-background: var(--_c-red-primary-lighten);
    }
  }
  &__icon {
    --icon-color: var(--c-white);
    width: rem(20px);
  }
}