@import "bootstrap-vue/src/components/toast/toast";

@each $color, $value in $theme-colors {
  .b-toast-#{$color} {
    .toast  .toast-body  .toast-link{
      color: darken(theme-color-level($color, $b-toast-color-level), 10%);
    }
  }
}

.b-toaster {
  &.b-toaster-top-right,
  &.b-toaster-top-left,
  &.b-toaster-top-center,
  &.b-toaster-top-full,
  &.b-toaster-bottom-right,
  &.b-toaster-bottom-left,
  &.b-toaster-bottom-center,
  &.b-toaster-bottom-full {
    .b-toaster-slot {
      max-width: breakpoint-max(xs);
    }
  }
}
.b-toast,
.toast {
  max-width: breakpoint-max(xs);
}
