@function rem($size) {
  @return $size / 16px * 1rem;
}

:root {
  --font-family--primary: "Roboto", sans-serif;
  --font-family--secondary: "Roboto", sans-serif;
}

#layout {
  max-width: 1440px;
}

@import './variables/colors.scss';

@import "./organism/Header.scss";

@import "./molecules/SearchBar.scss";
// @import "./molecules/Dropdown.scss";
@import "./molecules/Select.scss";
