$colors: primary, secondary, accent, neutral, success, danger, info, warning;
$solid-bg: (
  primary: 200,
  secondary: 300,
  accent: 300,
  neutral: 300,
  success: 400,
  danger: 400,
  info: 400,
  warning: 400,
);

@each $color in $colors {
  .vc-badge--solid--#{$color} {
    --text-color: var(--color-vc-text-solid-#{$color}, var(--color-additional-950));
  }
}

@each $color, $shade in $solid-bg {
  .vc-badge--solid--#{$color} {
    --bg-color: var(--color-vc-background-solid-#{$color}, var(--color-#{$color}-#{$shade}));
    --border-color: var(--color-vc-border-solid-#{$color}, var(--color-#{$color}-#{$shade}));
  }
}

@each $color in $colors {
  .vc-badge--outline--#{$color} {
    --text-color: var(--color-vc-text-outline-#{$color}, var(--color-#{$color}-900));
    --border-color: var(--color-vc-border-outline-#{$color}, var(--color-#{$color}-600));
  }

  .vc-badge--soft--#{$color} {
    --bg-color: var(--color-vc-background-soft-#{$color}, var(--color-#{$color}-100));
    --text-color: var(--color-vc-text-soft-#{$color}, var(--color-#{$color}-900));
  }

  .vc-badge--surface--#{$color} {
    --text-color: var(--color-vc-text-surface-#{$color}, var(--color-#{$color}-900));
  }

  .vc-badge--ghost--#{$color} {
    --text-color: var(--color-vc-text-ghost-#{$color}, var(--color-#{$color}-900));
  }
}
