
* {
    margin: 0;
    padding: 0;
  }
  @media (min-width: 1024px) {
  #layout {
      box-sizing: border-box;
        max-width: 1240px;
        margin: auto;
        } 
  }
  
@import "./scss/global";
@import "./scss/helpers";
@import "./scss/variables";

