@import "~@storefront-ui/vue/styles";

#layout {
  @include for-desktop {
    box-sizing: border-box;
    max-width: 1240px;
    margin: auto;
  }
}

// Reset CSS
html {
  width: auto;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  color: var(--c-text);
  font-size: var(--font-size--base);
  font-family: var(--font-family--primary);
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--c-link);
  &:hover {
    color: var(--c-link-hover);
  }
}
h1 {
  font-family: var(--font-family--secondary);
  font-size: var(--h1-font-size);
  line-height: 1.6;
  margin: 0;
}
h2 {
  font-family: var(--font-family--secondary);
  font-size: var(--h2-font-size);
  line-height: 1.6;
  margin: 0;
}
h3 {
  font-family: var(--font-family--secondary);
  font-size: var(--h3-font-size);
  line-height: 1.6;
  margin: 0;
}
h4 {
  font-family: var(--font-family--secondary);
  font-size: var(--h4-font-size);
  line-height: 1.6;
  margin: 0;
}

//Reset VSF UI base variables
@import "./scss/global";
@import "./scss/helpers";
@import "./scss/variables";

//VSF UI component styles are used in the plain LIUID pages 
@import "~@storefront-ui/shared/styles/components/organisms/SfFooter.scss";