@import "../../helpers";

.cp-switch-lang {
    --select-height: auto;
    --select-padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 var(--spacer-2xs) 0 var(--spacer-sm);
    &__img {
      width: 1.5rem;
      height: 1.5rem;
    }
    &__icon {
      --icon-width: 0.875rem;
      --icon-height: 0.438rem;
      --icon-color: var(--_c-gray-primary);
      margin: 0 0 0 var(--spacer-xs);
    }
    label {
      position: relative;
      top: auto;
      left: auto;
      display: flex;
      align-items: center;
      padding: 0;
    }
    select {
      position: absolute;
      background: none;
      opacity: 0;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
  }