{% for link in linklists['main-menu'].links %}
    {% assign child_list_handle = link.title | handleize %}
    <div class="sf-header-navigation-item">
      <!-- Desctop devices -->
      <div class="sf-header-navigation-item__item sf-header-navigation-item__item--desktop">
        <a href="{{ link.url | absolute_url }}">{{ link.title }}</a>
      </div>
      <!-- Mobile devices -->
      <div class="sf-header-navigation-item__item sf-header-navigation-item__item--mobile">
        <div class="sf-header-navigation-item__content">
          <a href="{{ link.url | absolute_url }}">{{ link.title }}</a>
        </div>
      </div>
    </div>
{% endfor %}
